<div class="container-fluid">
    <ngx-loading-bar [height]="'10px'" [color]="'#28a745'" [diameter]="'30px'"></ngx-loading-bar>
<app-header></app-header>

<br>
   

            <div class="container">
                <div class="card mx-auto">
                    <div class="card-body">
                        <div class="logo mb-3"><img src="../../assets/rounded-square.png" /></div>
                        <h3 class="card-title">Metrics</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Everything you need to understand your bussiness</h6>
                        <div class="row rone mt-4">
                            <div class="col-md-6">
                                <p class="text-muted"><i class="far fa-check-circle"></i>Control Center</p>
                                <p class="text-muted"><i class="far fa-check-circle"></i>Metrics</p>
                                <p class="text-muted"><i class="far fa-check-circle"></i>Forecast</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted"><i class="far fa-check-circle"></i>Benchmarks</p>
                                <p class="text-muted"><i class="far fa-check-circle"></i>Customers</p>
                                <p class="text-muted"><i class="far fa-check-circle"></i>Reports and notifications</p>
                            </div>
                        </div>
                        <div class="container kl">
                            <div class="row rtwo my-3">
                                <div class="col-md-12">
                                    <div class="form-check"> 
                                        <input class="form-check-input" type="radio"> 
                                        <label class="form-check-label">Bill monthly</label> 
                                        <span class="rate">&#8377;999<span class="text-muted"> 
                                            per month
                                        </span>
                                    </span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        </div> <button type="button" class="btn btn-primary btn-lg btn-block mt-3">
                            <span (click)="pay()">Subscibe now</span></button>
                    </div>
                </div>
            </div>

   
      
